# Scraping, Analyzing and Visualizing Covid-19 Data for Worldwide and India

In [1]:
import requests
from requests.exceptions import HTTPError
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
url_covid19_world='https://www.worldometers.info/coronavirus/'
url_covid19_India='https://www.mohfw.gov.in/'

In [7]:
class Covid19Tracker:
    
    def __init__(self):
        from datetime import date
        # pandas dataframe for processing and visualization
        self.df_world_summary = None
        self.df_all_countries = None
        #Todo: Set _processed to TRUE only after the retrieved dataset is processed and cleaned up
        #self._processed = False
        #_today to indicate last updated time
        self._today = date.today()
        self.dict_india_summary = {}
        self.df_india_summary = None
        self.df_indian_states = None
    
    def get_world_summary(self):
        return self.df_world_summary
    
    def get_country_data(self):
        return self.df_all_countries
    
    def __set_total_cases_india(self):
        self.dict_india_summary['total_cases'] = int(self.df_all_countries.loc[14,'Total_Cases'])
        
    def get_total_cases_india(self):
        return self.dict_india_summary.get('total_cases')
    
    def get_indian_states_data(self):
        return self.df_indian_states

    
    """
    ***************************************************************************************
    *** scrape_world_data(): Extracting Worldwide covid-19 statistics from today's date 
    ****************************************************************************************
    """
    def scrape_world_data(self):
        try:
            response = requests.get(url_covid19_world)
            # If the response was successful, no Exception will be raised
            response.raise_for_status()
        except HTTPError as http_err:
            print(f'HTTP error occurred: {http_err}') 
        except Exception as err:
            print(f'Other error occurred: {err}')  
        else:
            soup=BeautifulSoup(response.text, "html.parser")
            #display(soup.title)
            
            """
            Extracting Worldwide parameters: Coronovirus Cases, Deaths, Recovered, Active, Critical 
            """
            # Processing the required data from the first table that is retrieved
            coronatable=soup.find_all("table")[0]
            
            # Processing the <tr> tag containing the statistics for worldwide
            # Cleanup the data by removing whitespaces, comma. If missing value then replace 
            row_world_summary = coronatable.find_all("tr")[8]
            col=row_world_summary.find_all("td")
            
            dict_world_summary = {}
            dict_world_summary['total_cases']   = int((col[1].text.strip()).replace(',','') or 0)
            dict_world_summary['total_deaths']  = int((col[3].text.strip()).replace(',','') or 0)
            dict_world_summary['recovered']     = int((col[5].text.strip()).replace(',','') or 0)
            dict_world_summary['active']        = int((col[6].text.strip()).replace(',','') or 0)
            dict_world_summary['critical']      = int((col[7].text.strip()).replace(',','') or 0)
            
            self.df_world_summary = pd.DataFrame([dict_world_summary])
            
            # displaying data as shown below in the order of colunns mentioned
            #Todo : need to display Source Last updated on date
            print("___________________________________________________________________________________")
            print("Covid-19 updates for Worldwide")
            print("___________________________________________________________________________________")
            display(self.df_world_summary[['total_cases','total_deaths','recovered','active','critical']])
            
            """
            Extracting each Country parameters: Coronovirus Cases, Deaths, Recovered, Active, Critical 
            """
            c_name               = []
            c_total_cases        = []
            c_total_deaths       = []
            c_total_recovered    = []
            c_active             = []
            c_critical           = []
            
            rows=coronatable.find_all("tr")[9:-8]
            
            for row in rows:
                col=row.find_all("td")
                c_name.append(col[0].text.strip())
                c_total_cases.append(col[1].text.strip().replace(',','').replace('+',''))
                c_total_deaths.append(col[3].text.strip().replace(',','').replace('+',''))
                c_total_recovered.append(col[5].text.strip().replace(',','').replace('+',''))
                c_active.append(col[6].text.strip().replace(',','').replace('+',''))
                c_critical.append(col[7].text.strip().replace(',','').replace('+',''))


            self.df_all_countries = pd.DataFrame(list(zip(c_name, c_total_cases, c_total_deaths, c_total_recovered, c_active,
                                c_critical)),columns=["Country","Total_Cases", "Total_Deaths", "Recovered", "Active", "Critical"])
                                                         
            """
            Todo: Following tasks  : work in progress
            1. Handle missing data by analyzing covid-19 time series dataset. Currently replacing with 0. 
            2. Making the dataframe ready for visualization
            """
            self.df_all_countries.replace(r'^\s*$', np.nan, regex=True, inplace=True)
            #display(self.df_all_countries.isna().sum()) 
            
            self.df_all_countries.fillna(0, inplace=True)
            #display(self.df_all_countries.isna().sum()) 
            
            #Set total cases for India
            self.__set_total_cases_india()
            
            display(self.df_all_countries)
            
    """
    ***************************************************************************************
    *** scrape_india_data(): Scraping Covid-19 data for India
    Note: It is mandatory to call scrape_world_data before calling this function
    ***************************************************************************************
    """
    def scrape_india_data(self):
        try:
            response = requests.get(url_covid19_India)
            # If the response was successful, no Exception will be raised
            response.raise_for_status()
        except HTTPError as http_err:
            print(f'HTTP error occurred: {http_err}') 
        except Exception as err:
            print(f'Other error occurred: {err}')  
        else:
            soup=BeautifulSoup(response.text, "html.parser")
            display(soup.title)
            
            
            self.dict_india_summary['active_cases']   = int(soup.find("li", class_ = "bg-blue").strong.text.strip() or 0)
            self.dict_india_summary['recovered']  = int(soup.find("li", class_ = "bg-green").strong.text.strip() or 0)
            self.dict_india_summary['total_deaths'] = int(soup.find("li", class_ = "bg-red").strong.text.strip() or 0)
            
            self.df_india_summary = pd.DataFrame([self.dict_india_summary])
            
            print("___________________________________________________________________________________")
            print("Covid-19 updates for India")
            print("___________________________________________________________________________________")
            display(self.df_india_summary)
            
            """
            Get data for the Indian states 
            """
            state_names=[]
            state_total_cases=[]
            state_total_cured=[]
            state_total_deaths=[]
            india_states_table = soup.find("table", class_="table table-striped")
            rows=india_states_table.find_all("tr")[1:-6]
            #display(rows)
            for row in rows:
                col=row.find_all("td")
                #display(col[1].text, col[2].text, col[3].text, col[4].text)
                state_names.append(col[1].text.strip())
                state_total_cases.append(col[2].text.strip())
                state_total_cured.append(col[3].text.strip())
                state_total_deaths.append(col[4].text.strip())

            self.df_indian_states = pd.DataFrame(list(zip(state_names, state_total_cases, state_total_cured,  state_total_deaths)),
                                                 columns=["States","Total_Cases", "Recovered", "Deaths"])
                                                            
            display(self.df_indian_states)

In [4]:
"""
***********************************************
******************** Demo  ********************
***********************************************
"""
covid_obj = Covid19Tracker()
covid_obj.scrape_world_data()

___________________________________________________________________________________
Covid-19 updates for Worldwide
___________________________________________________________________________________

   total_cases  total_deaths  recovered   active  critical
0      4465261        299418    1678306  2487537     45774

,Country,Total_Cases,Total_Deaths,Recovered,Active,Critical
0,USA,1432086,85268,310383,1036435,16337
1,Spain,272646,27321,186480,58845,1376
2,Russia,252245,2305,53530,196410,2300
3,UK,233151,33614,N/A,199193,1559
4,Italy,222104,31106,112541,78457,893
5,Brazil,192081,13276,78424,100381,8318
6,France,178060,27074,58673,92313,2428
7,Germany,174098,7861,150300,15937,1465
8,Turkey,143114,3952,101715,37447,998
9,Iran,114533,6854,90539,17140,2758
10,India,79333,2564,26675,50094,0
11,Peru,76306,2169,24324,49813,806
12,Canada,72278,5302,35164,31812,502
13,Belgium,54288,8903,14111,31274,407
14,Saudi Arabia,46869,283,19051,27535,147
15,Netherlands,43481,5590,N/A,37641,432
16,Mexico,40186,4220,26990,8976,378
17,Pakistan,35788,770,9695,25323,111
18,Chile,34381,346,14865,19170,494
19,Ecuador,30486,2334,3433,24719,190
20,Switzerland,30463,1870,27100,1493,79
21,Sweden,28582,3529,4971,20082,351
22,Portugal,28319,1184,3198,23937,108
23,Qatar,28272,14,3356,24902,72
24,Belarus,26772,151,8168,18453,92
25,Singapore,26098,21,4809,21268,19
26,Ireland,23401,1497,19470,2434,69
27,UAE,21084,208,6930,13946,1
28,Bangladesh,18863,283,3361,15219,1
29,Poland,17469,869,6696,9904,160
...,...,...,...,...,...,...
185,Laos,19,0,14,5,0
186,Belize,18,2,16,0,0
187,Fiji,18,0,14,4,0
188,New Caledonia,18,0,18,0,0
189,Saint Lucia,18,0,18,0,0
190,St. Vincent Grenadines,17,0,12,5,0
191,Mauritania,16,2,6,8,0
192,Curaçao,16,1,14,1,0
193,Dominica,16,0,15,1,0
194,Namibia,16,0,12,4,0
195,Burundi,15,1,7,7,0
196,Saint Kitts and Nevis,15,0,14,1,0
197,Falkland Islands,13,0,13,0,0
198,Turks and Caicos,12,1,10,1,0
199,Vatican City,12,0,2,10,0
200,Comoros,11,1,0,10,0
201,Montserrat,11,1,8,2,1
202,Greenland,11,0,11,0,0
203,Seychelles,11,0,10,1,0
204,Suriname,10,1,9,0,0
205,MS Zaandam,9,2,0,7,0
206,Papua New Guinea,8,0,8,0,0
207,British Virgin Islands,7,1,4,2,0
208,Caribbean Netherlands,6,0,6,0,0
209,St. Barth,6,0,6,0,0
210,Western Sahara,6,0,6,0,0
211,Anguilla,3,0,3,0,0
212,Lesotho,1,0,0,1,0
213,Saint Pierre Miquelon,1,0,1,0,0
214,China,82929,4633,78195,101,9

In [5]:
covid_obj.scrape_india_data()

___________________________________________________________________________________
Covid-19 updates for India
___________________________________________________________________________________

   active_cases  recovered  total_cases  total_deaths
0         49219      26234        46869          2549

IndexError: list index out of range